<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Todo</title>
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
 
</head>
<body>
<div th:include="./resources/header.html"></div>
 
	<div class="container">
		<h1>Todo</h1>
		<hr>
		<h2> Update Todo</h2>
		
		<form action="#" th:action="@{/saveTodo}" th:object ="${todo}", method="POST">
		
		<!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
            
            
		<label>Todo Title</label> 
		<input type="text" th:field = "*{title}" 
			placeholder="Title" class="form-control mb-4 col-4">
		
		<label>Todo Description</label>
		<input type="text" th:field = "*{description}" 
			placeholder="Description" class="form-control mb-4 col-4">
			
		<label>Todo TargetDate</label>
		<input type="date" th:field = "*{targetDate}" 
			placeholder="yyyy-MM-dd" class="form-control mb-4 col-4">
			
		<label>Todo Status</label>
		<select class="form-control mb-4 col-4"
						name="status">
						<option value="false">In Progress</option>
						<option value="true">Complete</option>
		</select>
		
			
				
			
		<button type="submit" class="btn btn-info col-2">Update Todo</button>
		</form>
		 <hr>

        <a th:href="@{/}"> Back to Todo List</a>
	</div>
	
<div th:include="./resources/footer.html"></div>
</body>
</html>